* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.addTask {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background: greenyellow;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task button {
  width: auto;
  height: 20px;
  margin-left: 5px;
  text-align: center;
}